pipeline/FilterActivity.json
{
	"name": "FilterActivity",
	"properties": {
		"activities": [
			{
				"name": "FileNameFilter",
				"type": "Filter",
				"dependsOn": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.OutputFolderNames",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item(),'f')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FileNameFilter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FileNameFilter').output.Value\n",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SourceData",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationData",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"OutputFolderNames": {
				"type": "array",
				"defaultValue": [
					"f1",
					"f2",
					"f3",
					"f4",
					"f5",
					"h1",
					"h2",
					"h3"
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-28T02:20:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}